# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist/
build/
dist/
.venv/
venv/
.env

# Data / DB
data/*
!data/.gitkeep
db/*
!db/.gitkeep

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
